<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Formulaire de Prêt</title>
    <link rel="stylesheet" th:href="@{/css/formulaire.css}">
</head>

<body>
    <h1>Formulaire de Prêt</h1>

    <form th:action="@{/preter/add}" th:object="${pret}" method="post">

        <div>
            <label for="exemplaire">Exemplaire :</label><br>
            <select id="exemplaire" th:field="*{exemplaire.id_exemplaire}" required>
                <option th:each="exemplaire : ${exemplaires}" 
                        th:value="${exemplaire.id_exemplaire}" 
                        th:text="'Exemplaire ' + ${exemplaire.code} + ' - Livre: ' + ${exemplaire.livre.titre}">
                </option>
            </select>
        </div>


        <br>

        <div>
            <label for="adherent">Adhérent :</label><br>
            <select id="adherent" th:field="*{adherent.idAdherent}" required>
                <option value="" disabled selected>-- Sélectionnez un adhérent --</option>
                <option th:each="adherent : ${adherents}" 
                        th:value="${adherent.idAdherent}" 
                        th:text="${adherent.nom + ' ' + adherent.prenom}"></option>
            </select>
        </div>

        

        <br>

        <div>
            <label for="dateDebut">Date de début :</label><br>
            <input type="date" id="dateDebut" th:field="*{date_debut}" required >
        </div>

        <br>


        <br>

        <div>
            <button type="submit">Enregistrer le prêt</button>
        </div>

    </form>
    <a th:href="@{/retour_librarian}" class="btn-return">Retour</a>

</body>

</html>
