<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Formulaire de Prêt</title>
    <link rel="stylesheet" th:href="@{/css/formulaire.css}">
</head>

<body>
    <h1>Formulaire de Prêt</h1>

    <form th:action="@{/livre_forms/details}" method="post">
        <div>
            <label for="livre">Livre :</label><br>
            <select id="livre" name="idLivre" required>
                <option th:each="livre : ${livres}" 
                        th:value="${livre.idLivre}" 
                        th:text="'Livre #' + ${livre.idLivre} + ' - ' + ${livre.titre}"></option>
            </select>
        </div>
        <br>
        <div>
            <button type="submit">Afficher</button>
        </div>
    </form>

    <a th:href="@{/retour_librarian}" class="btn-return">Retour</a>

</body>

</html>
