<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Bonjour</title>
        <link rel="stylesheet" href="style.css">

  </head>

  <body>
    <h1>Bienvenue, <span th:text="${username}">Utilisateur</span> !</h1>
    <p>Rôle : <strong th:text="${role}">Rôle</strong></p>

    <!-- Lien affiché uniquement pour les adhérents -->
    <!-- Dans hello.html -->
    <!-- Dans hello.html -->
<!-- Vérifie si l'utilisateur est un adhérent -->
<!-- Affiche le lien si l'utilisateur est en session -->
<div th:if="${session.user != null}">
    <a href="/pret/liste">Voir mes prêts en cours</a>
</div>

    <a href="/logout">Déconnexion</a>
  </body>
</html>

    <a href="/preter/formpreter/livre">Faire un prêt de livre</a>
    <a href="/logout">Déconnexion</a><br><br>

</body>

</html>
