
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil Bibliothécaire</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">

</head>
<body>
    <h1>Bienvenue, Bibliothécaire</h1>
    <ul>
        <li><a href="/librarian/prolongement">Demandes de prolongation</a></li>
        <li><a href="/librarian/reservation/list">Demandes de réservations</a></li>
        <li><a href="/preter/formpreter/livre">Prêter un livre</a></li>
        <li><a href="/librarian/pret_demande">Demandes de pret</a></li>
        <li><a href="/rendu/retour">Retourner un livre</a></li>
        <li><a href="/sanction/form">Sanctionner un adhérent</a></li>
        <li><a href="/livre_forms/livre">Api Livre</a></li>
        <li><a href="/adherent_forms/adherent">Api Adherent</a></li>
    </ul>

    <a th:href="@{/logout}" class="btn-logout">Logout</a>
</body>
</html>
