<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des compagnies</title>
</head>
<body>
    <h1>Liste des compagnies</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Pays</th>
                <th>Code IATA</th>
                <th>Code ICAO</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="compagnie : ${compagnies}">
                <td th:text="${compagnie.idCompagnie}"></td>
                <td th:text="${compagnie.nom}"></td>
                <td th:text="${compagnie.pays}"></td>
                <td th:text="${compagnie.codeIata}"></td>
                <td th:text="${compagnie.codeIcao}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
