
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Prêts</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">

</head>
<body>
    <h1>Mes Prêts</h1>
    <div th:if="${success}">
        <p th:text="${success}" style="color: green;"></p>
    </div>
    <div th:if="${error}">
        <p th:text="${error}" style="color: red;"></p>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Exemplaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pret : ${prets}">
                <td th:text="${pret.id_pret}"></td>
                <td th:text="${pret.date_debut}"></td>
                <td th:text="${pret.date_fin}"></td>
                <td th:text="${pret.exemplaire.code}"></td>
                <td>
                    <form th:action="@{/prolongement/demander/{id}(id=${pret.id_pret})}" method="post">
                        <input type="date" name="dateFinDemandee" required/>
                        <button type="submit">Prolonger</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/retour_adherent}" class="btn-return">Retour</a>
</body>
</html>
