<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retour de livre</title>
    <link rel="stylesheet" th:href="@{/css/formulaire.css}">
</head>
<body>
    <div class="form">
        <form action="/rendu/valider" method="get">
            <div>
                <label for="idAdherent">Adhérent :</label><br>
                <select name="idAdherent" id="idAdherent" required>
                    <option th:each="adherent : ${adherents}" 
                            th:value="${adherent.idAdherent}" 
                            th:text="${adherent.nom + ' ' + adherent.prenom}"></option>
                </select>
            </div>
            <div>
                <label for="idPret">ID Prêt :</label><br>
                <select name="idPret" id="idPret" required>
                    <option th:each="pret : ${prets}" 
                            th:value="${pret.id_pret}" 
                            th:text="'Prêt ' + ${pret.id_pret} + ' - ' + ${pret.exemplaire.livre.titre}"></option>
                </select>
            </div>


            <div>
                <label for="dateRetour">Date de retour</label>
                <input type="date" name="dateRetour" id="dateRetour" required>
            </div>
            <div>
                <button type="submit">Valider</button>
            </div>
        </form>
    </div>
    <div th:if="${message}">
        <p th:text="${message}"
           th:class="${messageType == 'success'} ? 'text-success' : 'text-error'">
        </p>
    </div>
    
    <style>
        .text-success {
            color: green;
        }
    
        .text-error {
            color: red;
        }
    </style>
    <a th:href="@{/retour_librarian}" class="btn-return">Retour</a>
</body>
</html>
